<app-navbar></app-navbar>

<div class="container mx-auto my-16">
  <div class="grid grid-cols-2 gap-5">
    <div class="shadow-lg border-2 border-gray-900">
      <img [src]="siteImgURL" alt="" />
      <h3 class="text-xl font-bold p-3">{{ siteName }}</h3>
      <div class="grid grid-cols-3 gap-3 my-1 p-3">
        <div
          class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm"
        >
          {{ siteURL }}
        </div>
      </div>
    </div>

    <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
      <h2 class="text-3xl text-center">{{ formState }} Credentials</h2>
      <p class="text-center">
        {{ formState }} Credentials using the form below
      </p>
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="flex flex-col">
          <label class="text-lg font-medium mb-2">Email</label>
          <input
            [(ngModel)]="email"
            type="email"
            class="border-2 border-gray-900 rounded-lg p-2 w-full"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <div class="flex flex-col">
          <label class="text-lg font-medium mb-2">Username</label>
          <input
            [(ngModel)]="username"
            type="username"
            class="border-2 border-gray-900 rounded-lg p-2 w-full"
            name="username"
            placeholder="Enter username"
          />
        </div>
        <div class="flex flex-col">
          <label class="text-lg font-medium mb-2">Password</label>
          <input
            [(ngModel)]="password"
            type="password"
            class="border-2 border-gray-900 rounded-lg p-2 w-full"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <button
          class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md"
        >
          {{ formState }} Password
        </button>
      </form>
    </div>
  </div>

  <div class="grid grid-cols-1 mt-10">
    <table class="border-2 border-gray-900">
      <thead>
        <tr class="bg-gray-200 p-52 h-14 text-left">
          <th class="border-2 border-gray-900 p-3">Email</th>
          <th class="border-2 border-gray-900 p-3">Username</th>
          <th class="border-2 border-gray-900 p-3">Password</th>
          <th class="border-2 border-gray-900 p-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="h-14" *ngFor="let password of passwordList | async">
          <td class="border-2 border-gray-900 p-3">{{ password.email }}</td>
          <td class="border-2 border-gray-900 p-3">{{ password.username }}</td>
          <td class="border-2 border-gray-900 p-3">
            {{ password.password }}
            <button
              (click)="onDecrypt(password.password)"
              class="mx-0.5 px-5 py-1 text-sm bg-red-500 text-white shadow rounded-md"
            >
              Decrypt
            </button>
          </td>
          <td class="border-2 border-gray-900 p-3">
            <button
              (click)="
                onEdit(
                  password.email,
                  password.username,
                  password.password,
                  password.id
                )
              "
              class="mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md"
            >
              Edit
            </button>
            <button
              (click)="onDelete(password.id)"
              class="mx-0.5 px-5 py-3 text-sm border-gray-900 text-gray-900 shadow rounded-md border-2"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
